.boton{
  padding: 15px 10px;
  background-color: rgb(114, 186, 250);
  border:  none;
  border-radius: 8px;
  color: aliceblue;
  font-size: 16px;
}

p{
  color: rgba(250, 35, 11, 0.976);
  font-size: 25px;
}